h1{
    color: white;
    background-color: rgb(72, 74, 99);
    padding: 5px;
    border: 5px solid black;
}

nav{
    background-color: rgb(204, 223, 229);
    color: rgb(66, 68, 88);
    padding: 5px;
    border: 5px solid black;
}
th{
    text-decoration: underline;
}
h2{
    text-decoration: underline wavy rgb(58, 58, 102);
    text-align: center;
}
aside{
    background-color: rgb(232, 225, 225);
    border-radius: 10px;
    border: 5px solid black;
    padding: 5px;
    box-shadow: 10px 5px 5px rgb(148, 142, 142);
   
}

p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: large;
  font-style: normal;
  text-align: center;
}
li{
    list-style-type: square;
    list-style-position: inside;
}

footer{
    color: white;
    background-color: rgb(72, 74, 99);
    padding: 5px;
    border: 5px solid black;
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 6px;
}
img{
    width: 350px;
    height: auto;
}